	body {
		background:url(https://smurfhotel.nl/app/tpl/skins/Custom-Habbo/images/bg.png);
		margin:0;
		padding:0;
		font-family: Ubuntu,Arial,serif !important;
	}
	
	.login-error {
		width:100%;
		text-align:center;
		height:34px;
		line-height:34px;
		background:rgba(255,0,0,.6);
		position:fixed;
		top:0;
		color:#fff;
		font-weight:bold;
		font-size:16px;
	}
	
	.habbi-content {
		width:750px;
		height:350px;
		background:url(https://smurfhotel.nl/app/tpl/skins/Custom-Habbo/images/loginbackdrop.png);
		position:fixed;
		top:50%;
		left:50%;
		margin:-175px 0 0 -375px;
		border-radius:5px;
		box-shadow:inset 0 0 0 1px rgba(0,0,0,.25), inset 0 0 0 2px rgba(255,255,255,.3);
	}
	.habbi-input {
		width:730px;
		background:rgba(0,0,0,.3);
		padding:10px;
		height:36px;
		border-radius:5px 5px 0 0;
	}
	.logo {
		height:37px;
		width:192px;
		background:url(https://smurfhotel.nl/app/tpl/skins/Custom-Habbo/images/smurfhotel.gif);
		float:left;
		top:-60px;
		position:absolute;
		cursor:pointer;
		cursor:hand;
	}
	form {
		margin:0;
	}
	form.login input[type="text"], 
	form.login input[type="password"] {
		height:36px;
		line-height:36px;
		width:300px;
		margin-right:6px;
		border:0;
		outline:0;
		padding:0;
		border-radius:3px;
		text-indent:38px;
	}
	form.login input[type="text"] {
		background:#fff url(https://smurfhotel.nl/app/tpl/skins/Custom-Habbo/images/username.gif) 6px 6px no-repeat;
	}
	form.login input[type="password"] {
		background:#fff url(https://smurfhotel.nl/app/tpl/skins/Custom-Habbo/images/password.gif) 6px 6px no-repeat;
	}
	form.login input[type="submit"] {
		height:36px;
		line-height:36px;
		float:right;
		border:0;
		outline:0;
		width:110px;
		border-radius:3px;
		background:url(https://smurfhotel.nl/app/tpl/skins/Custom-Habbo/images/login.png);
		color:#fff;
		font-weight:bold;
		cursor:pointer;
		cursor:hand;
	}
	form.register input[type="text"], 
	form.register input[type="password"] {
		height:36px;
		width:290px;
		line-height:36px;
		margin-right:6px;
		border:0;
		outline:0;
		padding:0;
		border-radius:3px;
		box-shadow:inset 0 0 0 1px rgba(0,0,0,.25);
		text-indent:38px;
	}
	form.register input[type="text"] {
		background:#fff url(https://smurfhotel.nl/app/tpl/skins/Custom-Habbo/images/username.gif) 6px 6px no-repeat;
	}
	form.register input[type="text"].email {
		background:#fff url(https://smurfhotel.nl/app/tpl/skins/Custom-Habbo/images/mail.gif) 8px 9px no-repeat;
	}
	form.register input[type="password"] {
		background:#fff url(https://smurfhotel.nl/app/tpl/skins/Custom-Habbo/images/password.gif) 6px 6px no-repeat;
	}
	form.register input[type="submit"] {
		height:36px;
		line-height:36px;
		float:right;
		border:0;
		outline:0;
		padding:0 17px;
		margin-top:10px;
		border-radius:3px;
		background:url(https://smurfhotel.nl/app/tpl/skins/Custom-Habbo/images/register.png);
		color:#fff;
		font-weight:bold;
		cursor:pointer;
		cursor:hand;
	}
	.habbi-register {
		padding:20px 45px;
		position:absolute;
		background:#9BA9DE url(https://smurfhotel.nl/app/tpl/skins/Custom-Habbo/images/two-bg.png) center;
		font-size:24px;
		top:75px;
		left:20px;
		text-align:center;
		color:#fff;
		text-shadow:2px 2px rgba(0,0,0,.4);
		border-radius:5px;
		box-shadow:inset 0 0 0 2px rgba(0,0,0,.25);
		cursor:pointer;
		cursor:hand;
	}
	.habbi-register:hover {
		background-color:#8395DE;
	}
	.habbi-register span {
		display:block;
		font-weight:bold;
	}
	.users-online {
		height:40px;
		background:white;
		position:absolute;
		top:-50px;
		right:0;
		padding:0 18px;
		border-radius:5px;
		box-shadow:inset 0 0 0 1px rgba(0,0,0,.25);
		line-height:40px;
		font-size:13px;
	}
	.habbi-overlay {
		height:100%;
		width:100%;
		background:rgba(0,0,0,.5);
		position:fixed;
	}
	.overlay-box {
		height:338px;
		width:310px;
		background:white;
		top:50%;
		left:50%;
		margin:-169px 0 0 -155px;
		position:fixed;
		border-radius:5px;
		box-shadow:0 0 0 2px rgba(0,0,0,.25);
	}
	.overlay-title {
		background:#cc7abe url(https://smurfhotel.nl/app/tpl/skins/Custom-Habbo/images/two-bg.png) center;
		height:34px;
		line-height:34px;
		border-radius:3px;
		color:#fff;
		text-indent:10px;
		margin-bottom:10px;
		font-size:13px;
		font-weight:bold;
	}
	.padding {
		padding:10px;
	}
	.input-div {
		border-top:1px dashed #b3b3b3;
		border-bottom:1px dashed #b3b3b3;
		padding:10px 0;
		margin-bottom:-1px;
	}
	.close-overlay {
		height:36px;
		line-height:36px;
		float:left;
		border:0;
		outline:0;
		padding:0 17px;
		margin-top:10px;
		border-radius:3px;
		background:url(https://smurfhotel.nl/app/tpl/skins/Custom-Habbo/images/close.png);
		color:#fff;
		font-weight:bold;
		cursor:pointer;
		cursor:hand;
		font-size:13px;
	}