body{
	font-family: Ubuntu,"Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
	font-variant-ligatures: common-ligatures;
	font-size: 22px;
	color: #000;
	background: #0F416C;
	overflow-x: hidden;
}

p {
	color: #fff;
}

title {
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	outline: none;
	color: #74BCDE;
	cursor: pointer;
}

a:hover {
	color: #888;
}

a:-moz-focus-inner {
	border: 0;
}

h {
	text-align: center;
	color: #003366;
	font-size: 50px;
	font-weight: normal;
	cursor: default;
}

k {
	position: relative;
	text-align: center;
	float: left;
	color: #fff;
	font-size: 12vh;
	font-weight: 900;
	line-height: 90%;
	margin-top: 10%;
	margin-bottom: 2%;
	margin-left: 20%;
	margin-right: 20%;
	cursor: default;
}

h1 {
	text-align: center;
	cursor: default;
}

h2 {
	text-align: center;
	cursor: default
}

h3 {
	color: #fff;
}

h4 {
	color: #fff;
	cursor: default
}

h5 {
	cursor: default
}

h6 {
	cursor: default
}

hr {
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 20%;
	margin-right: 20%;
	background-color: #eee;
	border: none;
	height: 2px;
}

form {
	display: inline-block;
}

input {
	position: relative;
	height: 30px;
	width: 300px;
	padding-left: 10px;
	margin-left: 20px;
	background: #CCD8DF;
	border: 0;
	font-size: 20px;
	border-radius: 4px;
	border-style: solid;
	border-width: 2px;
	border-color: #275D8E;
}

input:focus {
	background: #fff;
	border-color: #3D7DA5;
}

input[type=submit] {
	position: relative;
	display: inline-block;
	height: 60px;
	text-align: center;
	cursor: pointer;
}

input[type=submit]:hover {
	background: #eee;
}

input[type=submit]:focus {
	outline: none;
}

input[type=submit]::-moz-focus-inner {
	border: 0;
}

img {
	position: relative;
	margin-right: 2px;
	margin-left: 2px;
	height: 120px;
	width: 100px;
}

button {
	position: relative;
	width: 190px;
	height: 50px;
	background: none;
	border-style: solid;
	border-width: 3px;
	border-color: #fff;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	background: rgba(255,255,255, 0);
	transition: background 0.2s linear;
}

button:hover {
	background: rgba(255,255,255, 1);
	color: #ec6f00;
}

#categories button:hover {
	color: #555;
}

#list button:hover {
	color: #555;
}

button:focus {
	outline: none;
}

button::-moz-focus-inner {
	border: 0;
}

text {
	display: block;
	font-size: 20px;
	color: #fff;
	margin-left: 4%;
}

iframe {
	height: 640px;
	width: 340px;
	border: none;
}

/*  main  */


/*-----------------*/

.container {
	width: 100%;
	height: 187px;
	margin-bottom: 10px;
	background: #0B6395;
	text-align: center;
	border-style: solid;
	border-width: 3px;
	border-color: #2685BC;
	filter: drop-shadow(-1px 4px 0 rgba(0, 0, 0, .3));
}

.container a {
	float: right;
	margin-top: 70px;
	margin-right: 10px;
	color: #E6F0F5;
}

.container text {
	font-size: 18px;
	font-style: italic;
	color: #eee;
}

.topstory {
	float: left;
	width: 300px;
	height: 187px;
	background: no-repeat;
}

/*-----footer----*/


/*-------andere seiten------*/

